.App {
  display: flex;
}

.markdiv {
  width: 50%;
  height: 100vh;
  background-color: #4c4b4b;
  color: #ddd;
  padding: 0.67em 1em;
  overflow: scroll;
  
}
.markdown {
  width: 95%;
  height: 80vh; 
  background-color: #2d2d2d;
  color: #537373;
  font-size: 17px;
  padding: 1em;
  outline: none;
}
.result {
  padding: 0.5em 1em; 
  overflow: hidden;
  width: 50%;
  height: 100vh;
  background-color: rgb(255, 182, 127);
}
.result img {
  width: 400px;
  object-fit: cover;
}